html, body {
  margin: 0;
  padding: 0;
}

input {
  appearance: none;
  background: transparent;
  border-radius: 0;
  font: inherit;
  padding: 4px;
  outline: none;
  border: solid 1px #222222;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
  appearance: none;
}

#success-alert {
  display: none;
  width: 100%;
  background-color: #1f9ffa;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}
#success-alert.show {
  display: flex;
}

#success-alert span {
  margin-left: 8px;
}

#success-alert button {
  margin: 0 0 0 auto;
  color: #ffffff;
}
.container {
  padding: 20px;
}

#join-form {
  display: flex;
  align-items: flex-end;
}
#join-form .info {
  font-size: 12px;
  margin-bottom: 2px;
}
#join-form button {
  padding: 5px 10px 5px 10px;
  background-color: #1f9ffa;
  color: #ffffff;
  height: 34px;
  width: 80px;
  margin-left: 10px;
}

#join-form button:disabled {
  background-color: #cee0fa;
  cursor: not-allowed;
}

.player {
  width: 480px;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

@media (max-width: 640px) {
  .player {
    width: 320px;
    height: 240px;
  }
}
